body {
  background-color: #35495e; }

#card {
  width: 60%;
  height: 398px;
  border: 1px dotted gray;
  margin: 24px auto;
  background-color: #25303a; }

.spinnerContainer {
  position: relative; }

.spinnerRotate {
  -moz-animation: 1.2s rotateRight infinite linear;
  -webkit-animation: 1.2s rotateRight infinite linear;
  display: block; }

.spinner {
  display: block;
  position: absolute; }

.spinDot {
  display: block;
  position: relative;
  display: block; }

img {
  -moz-animation: 10s rotateRight infinite linear;
  -webkit-animation: 10s rotateRight infinite linear; }

@-webkit-keyframes rotateRight {
  0% {
    -webkit-transform: rotate(0deg);
    -webkit-transform-origin: 50% 50%; }
  100% {
    -webkit-transform: rotate(360deg); } }
